<p id="notice"><%= notice %></p>

<section class="section">
  <div class="container">
    <%= link_to cnn_model_path('vgg') do %>
      <h1 class="title">VGG</h1>
    <% end %>
    <div class="columns">
      <div class="column">
        <h2 class="subtitle">Accuracy</h2>
        <%= react_component("DrawChart", data: @vgg_accuracies, series: { "0": { color: '#4ffd67' } }) %>
      </div>
      <div class="column">
        <h2 class="subtitle">Loss</h2>
        <%= react_component("DrawChart", data: @vgg_losses, series: { "0": { color: '#fd4f4f' } }) %>
      </div>
    </div>

    <%= link_to cnn_model_path('resnet-18') do %>
      <h1 class="title">ResNet-18</h1>
    <% end %>
    <div class="columns">
      <div class="column">
        <h2 class="subtitle">Accuracy</h2>
        <%= react_component("DrawChart", data: @resnet18_accuracies, series: { "0": { color: '#4ffd67' } }) %>
      </div>
      <div class="column">
        <h2 class="subtitle">Loss</h2>
        <%= react_component("DrawChart", data: @resnet18_losses, series: { "0": { color: '#fd4f4f' } }) %>
      </div>
    </div>
  </div>
</section>
